In [103]:
import pandas as pd
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score

df = pd.read_csv('https://raw.githubusercontent.com/diogenesjusto/FIAP/master/Gradua%C3%A7%C3%A3o/dados/dados_arvore_titanic.csv')

In [92]:
# Pre processing
ageMed = df['Age'].mean()
df['Age'] = df['Age'].fillna(ageMed)

dummies_Sex = pd.get_dummies(df['Sex'])
df['SexMale'] = dummies_Sex['male']
df['SexFemale'] = dummies_Sex['female']

In [96]:
# Exercício 1 - implementar a separação de base treino e teste, sendo 67,34% na base treino e o restante no teste
x_treino, x_teste, y_treino, y_teste = train_test_split(df[['SexMale']], df['Survived'],test_size=0.3266, random_state=33)

In [97]:
# Modelo de árvore de decisão
mod = tree.DecisionTreeClassifier()
mod = mod.fit(x_treino, y_treino)

In [98]:
# Previsão em teste
y_prev = mod.predict(x_teste)
accuracy_score(y_teste, y_prev)

0.8116438356164384

In [99]:
# Matriz de Confusão
pd.crosstab(y_prev,y_teste, margins=True)

Survived    0    1  All
row_0
0         156   28  184
1          27   81  108
All       183  109  292

In [104]:
precision_score(y_teste, y_prev)

0.75

In [106]:
recall_score(y_teste, y_prev)

0.7431192660550459